@mixin breakpoint($breakpoint, $direction: 'min') {
  @if $direction == 'max' {
    @media (max-width: map-get($breakpoints, $breakpoint) - 1) {
      @content;
    }
  } @else if $direction == 'min' {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin container {
  max-width: 90vw;
  margin-inline: auto;

  @include breakpoint('xl') {
    max-width: 80vw;
  }

  @include breakpoint('xxl') {
    max-width: 70vw;
  }
}

@mixin stagger-animation($start, $end, $gap) {
  $delay: 0;

  @for $i from $start through $end {
    $delay: $delay + $gap;

    &--delay-#{$i} {
      animation-delay: #{$delay}s;
    }
  }
}
