.hero {
  $self: &;

  padding-block: $spacer-900;
  background-color: $clr-neutral-200;

  &__container {
    @include container;
    text-align: center;
  }

  &__title {
    @extend %title-primary;
    margin-bottom: $spacer-500;
  }

  &__intro-text {
    color: $clr-neutral-800;
    font-size: $fs-500;
    margin-bottom: $spacer-700;
  }

  @include breakpoint('md', 'max') {
    #{$self}__title,
    #{$self}__intro-text {
      display: flex;
      flex-direction: column;
    }
  }
}

.walkthrough {
  $self: &;

  padding-block: $spacer-900;

  &__container {
    @include container;
  }

  &__title {
    @extend %title-primary;
  }

  &__list {
    display: grid;
    gap: $spacer-600;
    counter-reset: walkthrough;
  }

  @include breakpoint('lg') {
    #{$self}__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.restaurants {
  $self: &;

  padding-block: $spacer-900;
  background-color: $clr-neutral-200;

  &__container {
    @include container;
  }

  &__title {
    @extend %title-primary;
  }

  &__list {
    display: grid;
    gap: $spacer-600;
  }

  @include breakpoint('md') {
    #{$self}__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include breakpoint('lg') {
    #{$self}__list {
      gap: $spacer-700;
    }
  }
}
