.hero {
  padding-block: $spacer-900;
  background-color: $clr-neutral-200;

  &__container {
    @include container;
    text-align: center;
  }

  &__title {
    @extend %title-primary;
    margin-bottom: $spacer-500;
  }

  &__intro-text {
    color: $clr-neutral-800;
    font-size: $fs-500;
    margin-bottom: $spacer-700;
  }
}

.walkthrough {
  padding-block: $spacer-900;

  &__container {
    @include container;
  }

  &__title {
    @extend %title-primary;
  }

  &__list {
    display: grid;
    gap: $spacer-600;
    counter-reset: walkthrough;

    @include breakpoint('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
