.loader {
  $total-duration: 3s;
  $reveal-duration: 0.1s;
  $loader-duration: $total-duration - $reveal-duration;
  $spinner-duration: $loader-duration - $reveal-duration;

  position: fixed;
  inset: 0;
  z-index: 50;
  display: grid;
  place-items: center;
  background-color: transparentize(get-color(neutral, 100), 0.06);
  animation: fade-out $reveal-duration map-get($easings, ease-in) $total-duration forwards;

  &__wrapper {
    perspective: 120px;
    animation: zoom-in $reveal-duration map-get($easings, ease-out) backwards,
      zoom-in $reveal-duration $loader-duration map-get($easings, ease-in) reverse forwards;
  }

  &__spinner {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: map-get($gradients, primary);
    animation: spinner $spinner-duration $reveal-duration map-get($easings, ease-in-out);
  }
}
