.menu-card {
  $self: &;

  @extend %card;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  @include stagger-animation(1, 9, 0.12);
  animation: slide-in 0.4s $ease-out-400 backwards;

  &__body {
    flex: 1;
    min-width: 0;
    padding: $spacer-500;
  }

  &__title,
  &__desc {
    @extend %truncate;
  }

  &__title {
    @extend %card-title;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: $spacer-400;
  }

  &__desc {
    flex: 1;
    font-size: $fs-300;
  }

  &__price {
    font-weight: 500;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    margin-right: -4.5rem;
    background-color: $clr-tertiary-400;
    color: $clr-neutral-100;
    font-size: $fs-700;
    transition: margin 0.3s $ease-in-400;
  }

  &__slider-icon {
    transition: transform 0.2s 0.1s $ease-in-400;
  }

  &:hover {
    #{$self}__slider {
      margin-right: 0;
      transition-timing-function: $ease-out-400;
    }

    #{$self}__slider-icon {
      transform: rotate(360deg);
      transition-timing-function: $ease-out-400;
    }
  }
}
