.primary-button {
  position: relative;
  isolation: isolate;
  display: inline-block;
  padding: map-get($spacers, 400) map-get($spacers, 700);
  border-radius: map-get($border-radiuses, 900);
  background-color: get-color(primary, 400);
  color: get-color(neutral, 100);
  font-weight: 500;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
  }

  &::before {
    background-image: map-get($gradients, primary);
    transition: filter 0.25s;
  }

  &::after {
    box-shadow: map-get($shadows, 600);
    opacity: 0.6;
    transition: opacity 0.25s;
  }

  &:hover {
    &::before {
      filter: brightness(1.1);
    }

    &::after {
      opacity: 1;
    }
  }
}
