.hero {
  @include container;
  padding-block: map-get($spacers, 900);
  background-color: get-color(neutral, 200);
  text-align: center;

  &__title {
    @extend %title-primary;
    margin-bottom: map-get($spacers, 500);
  }

  &__intro-text {
    color: get-color(neutral, 800);
    font-size: map-get($font-sizes, 500);
    margin-bottom: map-get($spacers, 700);
  }

  @include breakpoint(md, 'max') {
    &__title,
    &__intro-text {
      display: flex;
      flex-direction: column;
    }
  }
}

.walkthrough {
  @include container;
  padding-block: map-get($spacers, 900);

  &__title {
    @extend %title-primary;
  }

  &__list {
    display: grid;
    gap: map-get($spacers, 600);
    counter-reset: walkthrough;
  }

  @include breakpoint(lg) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.restaurants {
  @include container;
  padding-block: map-get($spacers, 900);
  background-color: get-color(neutral, 200);

  &__title {
    @extend %title-primary;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: map-get($spacers, 600);
  }

  @include breakpoint(md) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include breakpoint(lg) {
    &__list {
      gap: map-get($spacers, 700);
    }
  }
}
