@mixin breakpoint($breakpoint, $direction: 'min') {
  @if $direction == 'max' {
    @media (max-width: map-get($breakpoints, $breakpoint) - 1) {
      @content;
    }
  } @else if $direction == 'min' {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin container($type: 'full-width') {
  @if $type == 'full-width' {
    padding-inline: $container-padding;
  } @else if $type == 'max-width' {
    width: $container-width;
    margin-inline: auto;
  }
}

@mixin stagger-animation($start, $end, $gap) {
  $delay: 0;

  @for $i from $start through $end {
    $delay: $delay + $gap;

    &--delay-#{$i} {
      animation-delay: #{$delay}s;
    }
  }
}
