%icon-wrapper {
  width: 1.25em;
  text-align: center;
}

%icon-button {
  $size: 1.25em;

  width: $size;
  height: $size;
  border-radius: $br-100;
  text-align: center;
}

%card {
  display: block;
  border-radius: $br-400;
  background-color: $clr-neutral-100;
  box-shadow: $box-shadow-400;
}

%card-title {
  margin-bottom: $spacer-100;
  font-size: $fs-500;
  font-weight: 500;
}

%title-primary {
  margin-bottom: $spacer-700;
  font-size: $fs-700;
  font-weight: 700;
}

%title-secondary {
  font-family: $ff-cursive;
  font-size: $fs-800;
  font-weight: 400;
}

%title-tertiary {
  position: relative;
  margin-bottom: $spacer-700;
  color: $clr-neutral-800;
  font-size: $fs-500;
  font-weight: 300;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -$spacer-200;
    width: 2.5em;
    height: 4px;
    background-color: $clr-tertiary-400;
  }
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
