%icon-wrapper {
  width: 1.25em;
  text-align: center;
}

%icon-button {
  $size: 1.25em;

  width: $size;
  height: $size;
  border-radius: map-get($border-radiuses, 100);
  text-align: center;
}

%card {
  display: block;
  border-radius: map-get($border-radiuses, 400);
  background-color: get-color(neutral, 100);
  box-shadow: map-get($shadows, 400);
}

%card-title {
  margin-bottom: map-get($spacers, 100);
  font-size: map-get($font-sizes, 500);
  font-weight: 500;
}

%title-primary {
  margin-bottom: map-get($spacers, 700);
  font-size: map-get($font-sizes, 700);
  font-weight: 700;
}

%title-secondary {
  font-family: map-get($font-families, cursive);
  font-size: map-get($font-sizes, 800);
  font-weight: 400;
}

%title-tertiary {
  position: relative;
  margin-bottom: map-get($spacers, 700);
  color: get-color(neutral, 800);
  font-size: map-get($font-sizes, 500);
  font-weight: 300;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1 * map-get($spacers, 200);
    width: 2.5em;
    height: 4px;
    background-color: get-color(tertiary, 400);
  }
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
