$container-width: min(90vw, 75rem);
$container-padding: calc((100vw - $container-width) / 2);

$breakpoints: (
  md: 768px,
  lg: 1024px,
);

$spacers: (
  100: 0.25rem,
  200: 0.5rem,
  300: 0.75rem,
  400: 1rem,
  500: 1.125rem,
  600: 1.5rem,
  700: 2rem,
  800: 3rem,
  900: 4rem,
);

$font-families: (
  sans: 'Roboto',
  cursive: 'Shrikhand',
);

$font-sizes: (
  200: 0.75rem,
  300: 0.875rem,
  400: 1rem,
  500: 1.125rem,
  600: 1.25rem,
  700: 1.5rem,
  800: 1.75rem,
  900: 2rem,
);

$colors: (
  primary: (
    100: hsl(267 100% 96%),
    400: hsl(267 66% 60%),
  ),
  secondary: (
    400: hsl(317 100% 74%),
  ),
  tertiary: (
    400: hsl(165 56% 74%),
    500: hsl(165 100% 20%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(0 0% 97%),
    300: hsl(0 0% 93%),
    700: hsl(0 0% 49%),
    800: hsl(0 0% 21%),
    900: hsl(0 0% 6%),
  ),
);

$gradients: (
  primary: linear-gradient(175deg, hsl(317 100% 74%), hsl(267 66% 60%)),
);

$shadows: (
  200: (
    0px 1px 1px hsl(0 0% 40% / 0.075),
    0px 2px 2px hsl(0 0% 40% / 0.075),
    0px 4px 4px hsl(0 0% 40% / 0.075),
  ),
  400: (
    0px 2px 2px hsl(0 0% 40% / 0.075),
    0px 4px 4px hsl(0 0% 40% / 0.075),
    0px 8px 8px hsl(0 0% 40% / 0.075),
  ),
  600: (
    0px 2px 2px hsl(0 0% 40% / 0.2),
    0px 4px 4px hsl(0 0% 40% / 0.2),
    0px 8px 8px hsl(0 0% 40% / 0.2),
  ),
);

$border-radiuses: (
  100: 0.125rem,
  200: 0.5rem,
  400: 1.125rem,
  700: 1.5rem,
  900: 9999px,
);

$easings: (
  ease-in: cubic-bezier(0.11, 0, 0.5, 0),
  ease-out: cubic-bezier(0.5, 1, 0.89, 1),
  ease-in-out: cubic-bezier(0.45, 0, 0.55, 1),
);
